@import "../../theme/theme.scss";

.add-post {
  @include themify($themes) {
    background-color: themed("bg");
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;

    .content {
      display: flex;
      align-items: center;
      position: relative;

      .user-profile {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        align-self: start;
      }

      textarea {
        width: 100%;
        max-height: 65px;
        margin: 0 0 1rem 1rem;
        padding: 0.5rem;
        color: themed("textColor");
        background-color: transparent;
        border: 1px solid themed("border");
        border-radius: 10px;
        resize: none;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .char-left {
        position: absolute;
        right: 5px;
        bottom: 18px;
        font-size: 10px;
        color: themed("textColor");
      }
    }

    .post-img {
      cursor: pointer;
      width: 100%;
      max-height: 500px;

      &.cover {
        object-fit: cover;
      }

      &.contain {
        object-fit: contain;
      }
    }

    .add {
      display: flex;
      align-items: center;
      color: themed("textColorSoft");

      #file {
        display: none;
      }

      .interactions {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;

        .emoji-picker-icon {
          @include mobile {
            display: none;
          }
        }

        .custom-emoji-picker {
          position: absolute;
          bottom: -420px;
          left: 80px;
          z-index: 10;
          visibility: hidden;
          transition: visibility 0.5s;
          animation: zoomOut 0.5s ease-in-out;
          transform-origin: top left;

          @keyframes zoomOut {
            0% {
              transform: scale(1);
            }
            100% {
              transform: scale(0);
            }
          }

          &.visible {
            visibility: visible;
            animation: zoomIn 0.5s ease-in-out;

            @keyframes zoomIn {
              0% {
                transform: scale(0);
              }
              100% {
                transform: scale(1);
              }
            }
          }

          @include mobile {
            display: none;
          }
        }
      }

      span {
        margin: 0 1.5rem 0 0.3rem;
      }

      @include mobile {
        gap: 1rem;

        span {
          display: none;
        }
      }

      .share {
        margin-left: auto;
        border: none;
        border-radius: 5px;
        padding: 0.5rem;
        color: white;
        cursor: pointer;
        background-color: themed("logo");

        @include tablet {
          font-size: 12px;
          padding: 0.3rem;
        }
      }
    }

    hr {
      height: 0.5px;
      border: none;
      background-color: themed("border");
      margin: 0.6rem 0 1rem;
    }
  }
}
