@import "../../theme/theme";

%flex-items {
  display: flex;
  align-items: center;
}

.right-bar {
  @include themify($themes) {
    flex: 3;
    position: sticky;
    height: calc(100vh - 71px);
    top: 71px;
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    @media (max-width: 635px) {
      display: none;
    }

    .container {
      padding: 1rem 0;

      @include tablet {
        padding: 0.5rem 0 0 0.5rem;
      }

      .item {
        -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        padding: 1rem;
        border-radius: 5px;
        background-color: themed("bg");
        margin-bottom: 0.7rem;

        @include tablet {
          padding: 0.5rem;
        }

        span {
          color: themed("textColor");

          @include tablet {
            font-size: 14px;
          }
        }

        .user {
          @extend %flex-items;
          justify-content: space-between;
          margin: 0.7rem 0;

          .user-info {
            @extend %flex-items;
            position: relative;
            gap: 0.5rem;

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;

              @include tablet {
                width: 30px;
                height: 30px;
              }
            }

            span {
              font-weight: 500;

              @include tablet {
                font-size: 12px;
              }
            }

            p {
              font-size: 12px;
              color: themed("textColor");

              @include tablet {
                font-size: 10px;
              }
            }

            .online {
              position: absolute;
              top: 2px;
              left: 30px;
              background-color: limegreen;
              width: 11px;
              height: 11px;
              border-radius: 50%;

              @include tablet {
                left: 22px;
                width: 8px;
                height: 8px;
              }
            }
          }

          .buttons {
            @extend %flex-items;
            gap: 0.5rem;

            button {
              border: none;
              border-radius: 5px;
              padding: 0.5rem;
              color: white;
              cursor: pointer;

              @include tablet {
                font-size: 12px;
                padding: 0.3rem;
              }

              &:first-child {
                background-color: themed("logo");
              }

              &:last-child {
                background-color: themed("danger");
              }
            }
          }

          .when {
            font-size: 12px;

            @include tablet {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}
