// Basic colors
$white: #fff;
$light-gray: #c5c5c5;
$dark-gray:#787878 ;
$black: #000;

// App colors light
$primary: #F3EEEA;
$secondary: #EBE3D5;
$tertiary: #776B5D;

//Border radius
$small: 10px;
$medium: 20px;
$large: 30px;
