$themes: (
  light: (
    textColor: #000,
    bg: #fff,
    logo: #00a9ff,
    bgSoft: #ebebeb,
    textColorSoft: #555,
    border: #c2c2c2,
    danger: rgb(255, 95, 95),
    image: "../../assets/patternpad.svg",
    messagess: #008bd1a9,
  ),
  dark: (
    textColor: rgb(197, 197, 197),
    bg: #222,
    logo: rgb(169, 169, 169),
    bgSoft: #333,
    textColorSoft: lightgray,
    border: #444,
    danger: rgb(255, 95, 95),
    image: "../../assets/patternpad-dark.svg",
    messagess: #005682ab
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 481px) and (max-width: 1024px) {
    @content;
  }
}

@mixin smallerThanDesktop {
  @media (max-width: 1024px) {
    @content;
  }
}

// //Border radius
// $border-radius-xs: 5px;
// $border-radius-sm: 10px;
// $border-radius-md: 20px;
// $border-radius-lg: 30px;
// $border-round: 50%;
